.env
node_modules/


# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
angular-src/dist
angular-src/tmp
angular-src/out-tsc
# Only exists if Bazel was run
angular-src/bazel-out

# dependencies
angular-src/node_modules

# profiling files
angular-src/chrome-profiler-events*.json
angular-src/speed-measure-plugin*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
angular-src/.sass-cache
angular-src/connect.lock
angular-src/coverage
angular-src/libpeerconnection.log
angular-src/npm-debug.log
angular-src/yarn-error.log
angular-src/testem.log
angular-src/typings

# System Files
.DS_Store
Thumbs.db
