<div class="chat-container">
    <div class="chat_name">
        <h3 *ngIf="chat">
            <!-- The Safe Navigation Operator 'Object?.path' is very useful to protect against null and 
                undefined values in property paths -->
            {{ chat?.recip[0]}}
        </h3>
        <h3 *ngIf="chat_recip">
            {{ chat_recip }}
        </h3>
    </div>
    <div id="messages">
        
            <!-- <div *ngIf="chat" class="author"><span class="author">{{ chat?.messages[0]?.message_body }}</span></div> -->
            <p *ngIf="chat" class="author">{{ chat?.messages[0]?.message_body }}</p>
    </div>

    <div class="message_input">
        <input #message type="text" (keyup.enter)="sendMessage(message.value); message.value='';" >
        <button id="send_button" (click)="sendMessage(message.value); message.value=''; ">Send</button>
    </div>
</div>
