<mat-sidenav-container >
    <!-- <mat-sidenav-content class="top-sidenav"><div></div></mat-sidenav-content> -->
    <mat-sidenav-content class="newchat-button"><button mat-button color="primary" (click)="openModal()">New Chat</button></mat-sidenav-content>
    
    <mat-sidenav-content class="search-chat"><input type="text" placeholder="Search Chat"></mat-sidenav-content>


    <mat-sidenav-content class="message-title"><h2>Messages</h2></mat-sidenav-content>

    <mat-sidenav-content class="chat-list">
        <div id="chats">
            <!-- Below we call our appThumb directive to let Angular know we want to
                    dynamically add a Thumbnail component -->
            <ng-template appThumb></ng-template>
            <!-- <app-thumbnail *ngFor="let chat of chat_list" [thumb_chat]="chat" ></app-thumbnail> -->
        </div>
        
    </mat-sidenav-content>
</mat-sidenav-container>